<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://120.78.173.180:3306/test?characterEncoding=UTF-8</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <!-- SQL dialect -->
        <!-- 使用MYSQL方言 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 		<!-- Hibernate事务管理方式，即每个线程一个事务 -->
 		<property name="current_session_context_class">thread</property>
 		<!-- 是否在控制台显示执行的sql语句 -->
 		<property name="show_sql">true</property>
 		<!-- 是否会自动更新数据库的表结构，有这句话，其实是不需要创建表的，因为Hibernate会自动去创建表结构 -->
 		<property name="hbm2ddl.auto">update</property>
 		<!-- 这表示Hibernate会去识别Product这个实体类 -->
 		<mapping resource="com/how2java/pojo/Product.hbm.xml" />
 		<mapping resource="com/how2java/pojo/Category.hbm.xml" />
 		
 		<property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
	</session-factory>
</hibernate-configuration>